@model IEnumerable<SPCAPP.TicketWeb.Models.TicketSpc>
@{
    ViewData["Title"] = "Lista de ticket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container AREA_PARTIAL_VIEW">
    <!--Notificacion de que el Ticket se a creado correctamente-->
    @if (TempData["mensaje"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["mensaje"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
<div class="row mb-4">
    <div class="float-left col-3">
        <select class="form-select" id="filtroTabla" aria-label="Default select example" onchange="filtrosTabla()">
            <option value="4">TODOS</option>
            <option value="1">PENDIENTES</option>
            <option value="2">NULOS</option>
            <option value="3">TERMINADOS</option>
        </select>
    </div>
    <div class="col-sm-4" style="margin-left:5%">
        <h3 class="text-right">TICKET GENERADOS</h3>
    </div>
    <div class="col-sm-4">

        <a class="btn float-lg-right colorB" onclick="crearModal(1,0,0)">Crear Ticket</a>
    </div>
</div>



    <div class="row">
        @if (Model.Count() > 0)
        {
            <table id="dtBasicExample" class="table table-bordered table-hover w-100" style="display:none">
                <thead class="table-striped">
                    <tr class="table-striped text-white small">
                        <td class="text-uppercase">@Html.DisplayNameFor(m => m.Id)</td>
                        <td class="text-uppercase">@Html.DisplayNameFor(m => m.Fecha)</td>
                        <td class="text-uppercase">@Html.DisplayNameFor(m => m.Estado)</td>
                        <td class="text-uppercase">@Html.DisplayNameFor(m => m.Empresa)</td>

                        <td class="text-uppercase">@Html.DisplayNameFor(m => m.Tecnico)</td>

                        <td>ACCIONES</td>
                    </tr>
                </thead>
                <tbody>
                    
                    @foreach (var item in Model)
                    {
                        if (item != null)
                        {
                        <tr class="w-100">
                            <td>@item.Id</td>
                            <td>@item.Fecha</td>
                            <td class="text-uppercase">@item.Estado</td>
                            <td class="text-uppercase">@item.Empresa</td>


                            <td class="text-uppercase">@item.Tecnico</td>

                            <td>
                                @{
                                    ViewData["idd"] = (int)@item.Id;
                                }
                                <!--Ver-->
                                <a class="btn coloAction ml-5" onclick="crearModal(2,@item.Id,1)"><i class="fas fa-search-plus"></i></a>
                                @if (item.Estado.ToString() != "TERMINADO")
                                {
                                    <!--Editar-->
                                    <a class="btn coloAction" onclick="crearModal(3,@item.Id,0)"><i class="fas fa-edit"></i></a>
                                }
                                else
                                {
                                    <!--Editar-->
                                    <a class="btn coloAction2" disabled><i class="fas fa-edit"></i></a>
                                }
                                <!--Eliminar-->
                                <!--<a class="btn coloAction" onclick="crearModal(4,@item.Id,0)"><i class="fas fa-trash-alt"></i></a>-->
                            </td>
                        </tr>
                                        }
                                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No existen registros</p>
        }

        <div id="load">
            <center><img src="https://novacer.spcapp.cl/loading.gif" /></center>
        </div>
       
            <div class="modal fade" id="modalCreate" data-mdb-backdrop="static" data-mdb-keyboard="false" tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
            </div>
               <div class="modal fade" id="modelMike" data-mdb-backdrop="static" data-mdb-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!--Titulo-->
                    <div class="modal-header modalColor">
                        <div class="col-8">
                            <h5 id="staticBackdropLabel" class="modal-title titulo">TICKET SPCAA</h5>
                        </div>
                        <div class="col-4">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>

                    <div class="modal-body">
                        <h1>Contenido prueba</h1>
                    </div>

                    <div class="modal-footer modalColor">

                        <div class="col text-center">
                            <button type="submit" class="btn btn-lg buttCreate" style="background: white;">Crear Ticket</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts{
    <script type="text/javascript" src="~/js/indexTicket.js"></script>
}
