
@model IEnumerable<SPCAPP.TicketWeb.Models.Tickett>
@{
    ViewData["Title"] = "Lista de ticket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <!--Notificacion de que el Ticket se a creado correctamente-->
    @if (TempData["mensaje"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["mensaje"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <div class="row mb-4">
        <div class="col-sm-7">
            <h3 class="text-right">TICKET GENERADOS</h3>
        </div>
        <div class="col-sm-4">
            <a class="btn btn-success float-lg-right" asp-action="Create" asp-controller="Tickett">Crear Ticket</a>
        </div>
    </div>
    <div class="row">
        @if (Model.Count() > 0)
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.Fecha)</td>
                        <td>@Html.DisplayNameFor(m => m.Estado)</td>
                        <td>@Html.DisplayNameFor(m => m.Cliente)</td>

                        <!--<td>CÓDIGO</td>
                        <td>@Html.DisplayNameFor(m => m.Folio)</td>
                        <td>@Html.DisplayNameFor(m => m.Alias)</td>
                        <td>@Html.DisplayNameFor(m => m.Hora)</td>
                        <td>@Html.DisplayNameFor(m => m.Emailempresa)</td>
                        <td>@Html.DisplayNameFor(m => m.Contacto)</td>
                        <td>@Html.DisplayNameFor(m => m.Telefono1)</td>
                        <td>@Html.DisplayNameFor(m => m.Telefono2)</td>
                        <td>@Html.DisplayNameFor(m => m.Telefono3)</td>
                        <td>@Html.DisplayNameFor(m => m.Email)</td>
                        <td>@Html.DisplayNameFor(m => m.ModoContacto)</td>
                        <td>@Html.DisplayNameFor(m => m.AreaTrabajo)</td>
                        <td>@Html.DisplayNameFor(m => m.TipoSoporte)</td>
                         <td>@Html.DisplayNameFor(m => m.ResumenTicket)</td>-->

                        <td>@Html.DisplayNameFor(m => m.Asignado)</td>
                        <td>@Html.DisplayNameFor(m => m.Proyecto)</td>

                        <td>ACCIONES</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>

                        <td>@item.Fecha</td>
                        <td>@item.Estado</td>
                        <td>@item.Cliente</td>

                        <!--<td>@item.Codigo</td>
                        <td>@item.Folio</td>
                        <td>@item.Alias</td>
                        <td>@item.Hora</td>
                        <td>@item.Emailempresa</td>
                        <td>@item.Contacto</td>
                        <td>@item.Telefono1</td>
                        <td>@item.Telefono2</td>
                        <td>@item.Telefono3</td>
                        <td>@item.Email</td>
                        <td>@item.ModoContacto</td>
                        <td>@item.AreaTrabajo</td>
                        <td>@item.TipoSoporte</td>
                        <td>@item.ResumenTicket</td>-->

                        <td>@item.Asignado</td>
                        <td>@item.Proyecto</td>

                        <td>
                            
                            <a asp-controller="Tickett" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">EDITAR</a>
                            <a asp-controller="Tickett" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">ELIMINAR</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No existen registros</p>
        }
    </div>
</div>